.heading1{
    display: flex;
    justify-content: center;
    color:wheat
}
.heading2{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
.editor{
    display: flex;
    color:whitesmoke;
    justify-content: flex-end;
    position: absolute;
  top: 8px;
  right: 16px;
  font-size: 10px;
}